.Post{
    background-color: rgb(120, 37, 145);
    color: black;
    width: 400px;
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 400px;
    border-radius: 10px;
    border:solid rgb(0, 0, 0);
}
.Nome{
    color: blue;
}
.texto{
    margin-bottom: 15px;
}
.botão{
    background-color: rgb(91, 32, 168);
    border-radius: 5px;
}
.botão2{
    background-color: rgb(91, 32, 168);
    border-radius: 5px;
}